*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    /* background-image: url('');
    background-repeat: no-repeat;
    
    background-attachment: fixed; */
    
    /* background: fixed no-repeat url('/images/images.jpg');
    background-size: cover; */
  
}



img{
    opacity: 0.4;
}

img:hover{
    opacity: 1;
}

p.para{
 
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 20px;
    word-spacing: 20px;
    line-height: 50px;
    white-space: pre;
    }


.para,.first, .second{
    font-size: 25px;
    color:aquamarine;
}

.main{
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
   
    border-radius: 20px;
}

.para{
    color: red;
    background-color: black;
}

a{
  
    text-decoration-thickness: auto;
    font-size: 300px;
    text-decoration: none;
}

.heading{
    text-shadow: 3px 3px 5px white ;
}