@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    /* background-image: url('');
    background-repeat: no-repeat;
    
    background-attachment: fixed; */
    
    /* background: fixed no-repeat url('/images/images.jpg');
    background-size: cover; */
  
}





p.para{
 
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 20px;
    word-spacing: 20px;
    line-height: 50px;
   
    }


.para,.first, .second{
    font-size: 25px;
    color:aquamarine;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.second{
    position: relative;
    top: 100px;
    left: 50px;
    z-index: -1;
}


.main{
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
   
    border-radius: 20px;
}

.para{
    color: red;
    background-color: black;
}

.linka{
    text-decoration: none;
    color: red;
    border: 1px solid black;
    padding: 5px 20px;
}

.linka:visited{
    color: black;
    background-color: white;
}


.linka:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


.heading{
    text-shadow: 3px 3px 5px white ;
}

.lists{
    list-style-type: none;
    background-color: black;
}

 

.lists li a{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: white;
   }


.lists li{   
    display: inline;
}




.lists li a:hover{
    background-color: aliceblue;
    color: black;
}

table, table th, table td{
      border: 1px solid black;
      border-collapse: collapse;
      padding: 10px;
}

table th{
    text-align: left;
    height: 100px;
}

.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.hide{
    display: none;
}

.gray-box {
  position: absolute;
  z-index: 3; /* gray box will be above both green and black box */
  background: lightgray;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2; /* green box will be above black box */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}